*.html linguist-vendored
*.pdf linguist-vendored
*.ipynb linguist-vendored
*.xml linguist-vendored
*.yml linguist-vendored
*.mlx linguist-vendored

*.tex linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.Rprofile linguist-vendored
